<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>
  <link rel="stylesheet" href="styles/restaurants.css" /><!-- specific -->
  <body>
    <%- include('includes/header') %>
    <!-- includes header -->
    <%- include('includes/drawer') %>
    <main>
      <h1>Recommended restaurants</h1>

      <% if(numOfRestaurants === 0){ %>
      <p>
        Unfortunately there are no restaurants yet. Start recommending some!
      </p>
      <% } else{ %>
      <!-- previous brace and preceeding else is together -->

      <p>Find your next favorite restaurants with help of our other users!</p>
      <p>Number of restaurant are <%= numOfRestaurants %> available</p>
      <!-- ejs specific target -->
      <ul id="restaurants-list">
        <!-- opening brace -->
        <%for (const restaurant of restaurants) { %>
        <!-- li fragment -->
        <%- include('includes/restaurant-items/restaurant-item.ejs',{restaurant:
        restaurant}) %>
        <!-- closing brace --><%}%>
      </ul>

      <% } %>
      <!-- closing else ejs  -->
    </main>
  </body>
</html>
